github "ReactiveCocoa/ReactiveCocoa" "v2.5"

#git "https://bitbucket.org/toastersocks/tipout"

github "ViccAlexander/Chameleon"

github "tomvanzummeren/TZStackView"

github "radex/SwiftyUserDefaults"

github "toastersocks/Gecco" "carthage"